.form {
  display: flex;
  max-width: 829px;
  margin: 0 auto;
  column-gap: 50px;
}

.box {
  display: flex;
  column-gap: 10px;
}

.circles {
  display: flex;
  margin: 50px auto 0;
  column-gap: 10px;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}